* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  width: 500px;
  margin: 15px auto;
  text-align: left;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.del {
  width: 288px;
  margin: 40px auto;
}
.del input {
  text-align: center;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
}

.btn {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
}
.item-delete {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: white;
  border: none;
}
